html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Hiding scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */
body {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

body {
    background-color: #111;  /* or whatever dark color you wish to use */
}

.wrapper {
    width: 300vw;  /* 3 times the viewport width */
    height: 300vh; /* 3 times the viewport height */
}

.content {
    position: absolute;
    width: 100vw;  
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
}

.content:nth-child(1) { top: 0; left: 0; }        /* Top-left corner */
.content:nth-child(2) { top: 0; left: 100vw; }    /* Top-center */
.content:nth-child(3) { top: 0; left: 200vw; }    /* Top-right corner */

.content:nth-child(4) { top: 100vh; left: 0; }    /* Middle-left */
.content:nth-child(5) { top: 100vh; left: 100vw; }/* Center */
.content:nth-child(6) { top: 100vh; left: 200vw; }/* Middle-right */

.content:nth-child(7) { top: 200vh; left: 0; }    /* Bottom-left corner */
.content:nth-child(8) { top: 200vh; left: 100vw; }/* Bottom-center */
.content:nth-child(9) { top: 200vh; left: 200vw; }/* Bottom-right corner */
