:root {
    --content-width: 100vw;
    /* Default horizontal size; you can change this */
    --content-height: 100vh;
    /* Default vertical size; you can change this */
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*::-webkit-scrollbar { display: none; }*/

/* Hiding scrollbar for Chrome, Safari and Opera */
/*body::-webkit-scrollbar {
    display: none;
}*/

/* Hiding scrollbar for IE, Edge and Firefox */
/*body {
  scrollbar-width: none;  /* Firefox /
  -ms-overflow-style: none;  /* IE and Edge /
}*/

body {
    background-color: #111;
    /* or whatever dark color you wish to use */
}

a {
    color: inherit;
}

a.visited {
    text-decoration-color: gray;
    /* You might have to hard-code this value as darken is from Sass */
}

.text-to-fade {
    display: none;
}

.wrapper {
    width: calc(3 * var(--content-width));
    /* 3 times the horizontal content size */
    height: calc(3 * var(--content-height));
    /* 3 times the vertical content size */
}

.hidden {
    opacity: 0;
}

.content {
    position: absolute;
    width: var(--content-width);
    height: var(--content-height);
    display: flex;
    justify-content: left;
    align-items: top;

    color: white;
    text-wrap: nowrap;
    margin-top: 47vh;
    margin-left: 33vw;
    font-size: 1.5em;
    line-height: 1.3em;
}

.text-content {}

.content:nth-child(1) {
    top: 0;
    left: 0;
}

.content:nth-child(2) {
    top: 0;
    left: var(--content-width);
}

.content:nth-child(3) {
    top: 0;
    left: calc(2 * var(--content-width));
}

.content:nth-child(4) {
    top: var(--content-height);
    left: 0;
}

.content:nth-child(5) {
    top: var(--content-height);
    left: var(--content-width);
}

.content:nth-child(6) {
    top: var(--content-height);
    left: calc(2 * var(--content-width));
}

.content:nth-child(7) {
    top: calc(2 * var(--content-height));
    left: 0;
}

.content:nth-child(8) {
    top: calc(2 * var(--content-height));
    left: var(--content-width);
}

.content:nth-child(9) {
    top: calc(2 * var(--content-height));
    left: calc(2 * var(--content-width));
}